{% extends 'base.twig' %}

{% block title %}Tickets - TicketWave{% endblock %}

{% block content %}
<section class="px-6 py-12">
  <div class="mx-auto max-w-6xl">
    <h1 class="text-3xl mb-6 gradient-text">Tickets</h1>
    <div class="space-y-4">
      <div class="rounded-lg bg-[#3D3654] p-6">Ticket #1 - Website Loading Slow</div>
      <div class="rounded-lg bg-[#3D3654] p-6">Ticket #2 - Login Button Not Working</div>
    </div>
  </div>
</section>
{% endblock %}
